__pycache__/
.ipynb_checkpoints/
testing/
DC.csv
DU.csv
Decentraland.ipynb
MANA-USD.csv
Untitled.ipynb
Untitled1.ipynb
casino.csv
district_x.csv
genesis.csv
on_sale_parcels.csv
parcel_model_tf.csv
parcel_transactions.csv
venv/

